<template name="Applications_List">
	<h1>My Applications :</h1>
	<a href="/applications/new_step1"><i class="fa fa-plus-circle"></i> New Application</a>	<br/>
	<h3>My Apps :</h3>
	{{#each getApp}}
		{{>App_thumbnail}}
	{{/each}}

</template>

<template name="App_thumbnail">
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<h3><i class="fa fa-line-chart"></i> {{name}}</h3>
					<p>{{desc}}</p>
					<p><button class="btn btn-primary" role="button">Enter</button> <button class="btn btn-danger" role="button">Delete</button></p>
				</div>
			</div>
		</div>
	</div>
</template>