<template name="Applications_New_Step2">
	{{#with application}}
		{{>newAttribute}}
		<div class="row">
			<div class="list-group">
				{{#each attributes}}
					{{#with getAtt _id}}
						<div class="panel panel-default">
							<div class='panel-heading'>
								<h4>{{name}} - {{type}}</h4>
							</div>
							{{#if hasAttId}}
								<div class="panel body">
									{{>attribute_values}}
								</div>
							{{/if}}
						</div>
					{{/with}}
				{{/each}}
			</div>
		</div>
	{{/with}}
	<button class="new_app_go_step3" type="submit">Next</button>
</template>



<template name="attribute_values">
	<button type="button" data-toggle="modal" data-target="#myModal2" title="Create a new value"><i class="fa fa-plus"></i></button>
	<button id="att-delete" title="Delete attribute"><i class="fa fa-trash-o"></i></button>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr><th>Value</th><th class="align-right">Delete</th></tr>
			</thead>
			<tbody>
				{{#each values}}
					<tr><td>{{value}}</td><td class="align-right"><i class='fa fa-trash'></i></td></tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	{{>new_att_modal_2}}
</template>

<template name="new_att_modal_2">
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">New Value</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="recipient-name" class="control-label">Name:</label>
							<input type="text" class="form-control" id="value">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="new-val">Create</button>
				</div>
			</div>
		</div>
	</div>
</template>