<template name="Timeseries_list">
	<div class="col-xs-4">
		<ol class="breadcrumb">
			<h4>TimeSeries</h4>
			{{> newTimeSeries}}
			{{> accordeon_list_ts}}
		</ol>
	</div>
</template>

<template name="newTimeSeries">
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal_ts" title="Create New Timeseries"><i class="fa fa-plus"></i></button>
	<button type="button" class="btn btn-primary btn-lg" id="refresh_timeseries_from_dl" title="Refresh timeseries from Data Layer"><i class="fa fa-refresh"></i></button>
	<br/><br/>
	{{> new_ts_modal}}
</template>

<template name="new_ts_modal">
	<div class="modal fade" id="myModal_ts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">New Timeseries</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="message-text" class="control-label">Name:</label>
							<input type="text" class="form-control" id="timeseries-name">
						</div>
						<div class="form-group">
							<label for="message-text" class="control-label">Description:</label>
							<textarea class="form-control" id="timeseries-text"></textarea>
						</div>
						<div class="form-group">
							<label for="message-text" class="control-label">Type:</label>
							<select class="dropdown-content" id="timeseries-type">
								<option value="Imported" selected="selected">Imported from Data Layer</option>
								<option value="Calculated">Calculated</option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="new-ts">Create</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="accordeon_list_ts">
	<div id="accordion_ts" class="panel-group">
		<div class="panel panel-default" id="panel_attribute">
			<div class="panel-heading">
				<h4 class="panel-title">
					 <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					 	<i class="fa fa-list-ol"></i>
					 	Timeseries
					 </a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="list-group list-group-root well">
					{{#each getTimeseries}}
						<a href="#{{_id}}" class="list-group-item">
							<button class="btn-primary-outline">{{getName _id}}</button>
						</a>
					{{/each}}
				</div>
			</div>
		</div>		
	</div>
</template>